<style type="text/css">
<!--
body
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: justify;
  background: #ffffff;
  padding: 4px;
  margin: 4px;
}
#main
{
  padding-top: 1.5em;
  width: 100%;
}
#sidebar
{
  padding-top: 1.5em;
  width: 175px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
#headlines h2 {
  margin-top:     0px;
  margin-bottom:  0px;	
  border-bottom:  1px #000 dotted;
  font-weight:    bold;
  font-family:    Trebuchet MS, Helvetica, Arial, sans-serif;
  font-size:      1em;
  clear: both;
}
#headlines h3 {
  font-size: 1em;
  margin: 15px 5px 5px 5px;
  font-family: Georgia, Times New Roman, Times, serif;
  clear: both;
}
table, img
{
  border: 4px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:link
  {
  font-weight: bold;
  color: #006666;
  background-color: transparent;
  }
a:visited
{
  font-weight: bold;
  color: #663366;
  background-color: transparent;
}
a.nav:link,
div.sidebar a:link
{
  font-weight: normal;
}
a.nav:visited,
div.sidebar a:visited
{
  font-weight: normal;
}
#head
{
  position: relative;
  background: url("img/air.png") repeat-x;
  margin: 0;
  padding: 0;
  height: 78px;
}
#head h1
{
  position: absolute;
  left: 0.1em;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#head h1 img
{
  position: absolute;
  bottom: 8px;
}
#riva
{
  float: right;
}
.menu
{
  vertical-align: bottom;
  text-align: center;
  color:  #FFFFFF;
  background-color: #003300;
  border-bottom: 1px solid #669900;
  margin: 0;
  padding: 2px 3px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
.menu a
{
  color:  #ccffcc;
  background-color: transparent;
  font-weight: normal;
}
td { line-height: 13pt;
     padding-right : 9px;
     padding-left : 9px;
     padding-bottom : 9px;
}
.module {padding:0 20px 20px 20px}
.tbl th {font:12px Arial,Helvetica,sans-serif;color:#888;
	text-align:left;
	background:#F2F2F2;
	padding:4px 10px 3px 1 0px
}
.tbl td {padding:4px 10px 7px 10px;
	border-bottom:1px solid #E5E5E5
}
.tbl .f10 {font:10px Tahoma,Arial,Helvetica,sans-serif}
-->
</style>
